.content_wrapper {
  --n-dropdown-bg-color: var(--n-white);
  background-color: var(--n-dropdown-bg-color);
  border-radius: 4px;
  border: 1px solid var(--n-border-color);
  box-shadow: var(--n-box-shadow);
  min-width: 200px;
  overflow: hidden;
  padding: 4px;
}

.item_wrapper {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.item_wrapper:hover,
.item_wrapper:focus {
  background-color: var(--n-brand);
  color: var(--n-text-inverse);
}

.item_wrapper:focus {
  outline: none;
}
