.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
  max-width: 514px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 514px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 900px;
  }
}
