.overlay {
  background-color: rgba(25, 32, 50, 0.57);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content_wrapper {
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--n-box-shadow);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.content_wrapper {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.content_wrapper:focus {
  outline: none;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
